<ion-view class="contact-view">
  <ion-nav-title>
    <span>Contact</span>
  </ion-nav-title>
  <ion-content>
    <div>
      <map data-tap-disabled="true" center="{{position.lat}},{{position.lng}}" zoom="15" disable-default-u-i="true">
        <marker
          position="{{position.lat}},{{position.lng}}"
          title="Hello Marker"
          visible="true">
        </marker>
      </map>
    </div>
    <div class="contact-content">
      <div class="">
        <p>
          Please feel free to contact us with any questions/suggestions you may have about this app. Of course let us know of any recipes 
          you would like to see added! :) 
        </p>        
      </div>
      <div class="contact-details-item">
        <h4>Address</h4>
        <div class="featured">B Wayne Industries</div>
        <div>Islamabad</div>
        <div>Pakistan</div>
      </div>
      <div class="contact-details-item">
        <h4>Social Networks</h4>
        <div class="row social-networks">
          <div class="col"><a href=""><i class="icon ion-social-twitter" style="color: #37b9e1;"></i></a></div>
          <div class="col"><a href=""><i class="icon ion-social-facebook" style="color: #3e649e;"></i></a></div>
          <div class="col"><a href=""><i class="icon ion-social-dribbble" style="color: #e36a96;"></i></a></div>
          <div class="col"><a href=""><i class="icon ion-social-rss" style="color: #f18334;"></i></a></div>
          <div class="col"><a href=""><i class="icon ion-social-pinterest" style="color: #c6484a;"></i></a></div>
        </ul>
      </div>
      <div class="send-email">
        <button class="button button-outline button-block featured" ng-controller="EmailSenderCtrl" ng-click="sendContactMail()">
          Send us an email
        </button>
      </div>

    </div>
  </ion-content>
</ion-view>
