<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">FAQS</h1>
		<div class="button button-clear" ng-click="faqs_modal.hide()"><span class="icon ion-close"></span></div>
	</ion-header-bar>
	<ion-content>
		<div class="faqs">
			<ul class="list">
				<li class="faq-item">
					<h5>How's this app different?</h5>
					<p>
					All the other cooking apps come with a limited number of recipes installed. This is the only app that allows Chefs to directly add their recipes to it. This means that the app will continuously be updated with new content without the need of having to update to a newer version. 	</p>
				</li>
				<li class="faq-item">
					<h5>What if I can't find what I'm looking for?</h5>
					<p>
						No worries! Please contact us and we'll try and get it requested as soon as possible </p>
				</li>				
			</ul>
		</div>
	</ion-content>
</ion-modal-view>
