<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Terms of Service</h1>
		<div class="button button-clear" ng-click="terms_modal.hide()"><span class="icon ion-close"></span></div>
	</ion-header-bar>
	<ion-content>
		<div class="terms-of-service">
			<p>Last modified: June, 2015</p>
			<h4 class="title">Welcome to Chefs Recipes!</h4>
			<p>Thanks for using our products and services (“Services”). It is the intention of the author of this app to contact chefs and request them to provide recipes for it. For this reason, there should be no copyright issues as the owness of the material available is placed on the Authors. </p>
			<h4 class="title">Using our Services</h4>
			<p>The app has many sharing features that allow you (the User) to share the available recipes with others.</p>			
		</div>
	</ion-content>
</ion-modal-view>
